/*-------------------PRIMARY-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #fff;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-color: var(--dark-cyan);
}

img {
  min-width: 100%;
}

h2 {
  font-size: 18px;
  color: var(--very-dark-desaturated-blue);
  text-align: center;
  font-weight: 700;
}

p {
  color: var(--dark-gray);
  text-align: center;
}

/*-------------------UTILITY CLASS-------------------*/

.social-subtitle {
  font-size: 12px;
  letter-spacing: 0.2em;
  margin-top: 4px;
  margin-bottom: 20px;
}

/*-------------------CONTAINER-------------------*/

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------------CARD-------------------*/

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  /* padding: 20px; */
  border-radius: 15px;
  background-color: var(--white);
}

.bubble-cover {
  border-radius: 12px 12px 0 0;
  background-size: cover;
}

.profile-picture {
  min-width: 35%;
  border: 5px solid var(--white);
  border-radius: 100px;
  display: flex;
  position: relative;
  margin-top: -60px;
}

.personal {
  text-align: center;
  margin-top: 20px;
}

.name{
  font-weight: bold;
}

.city {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.age {
  font-size: 20px;
  font-weight: 400;
  color: var(--dark-gray);
}

.division-line {
  border: 1px solid var(--dark-gray);
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  width: 100%;
  opacity: 10%;
}

.socials {
  display: flex;
  min-width: 300px;
  justify-content: space-around;
}

/*-------------------FOOTER-------------------*/

.attribution {
  font-size: 11px;
  margin-top: 1em;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(0, 0%, 98%);
}
